/************ 공통 CSS ****************/
.tBoard{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;margin-bottom: 20px;font-size:16px}

/* 테이블 박스 */
.tableWrap2{padding:20px 0}


/************ 수정 CSS ***************/
/* 공지사항 리스트 */
.noticeList{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;border-top:1px solid #ddd;font-size:16px}
.noticeList th{padding:0 10px;font-weight:bold;height:50px;background:none;border-right:0px none;text-align:center}
.noticeList tr{border-bottom:1px solid #ddd}
.noticeList tr.notice{border-bottom:1px solid #ddd;background:#f4f4f4}
.noticeList tbody td{padding:0 10px;height:50px;border-right:0px none;text-align:center}
.noticeList tbody td:nth-child(2){text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}


/* 공지사항 뷰페이지 */
.noticeView{font-size:14px;margin-top:24px}
.noticeView thead{background:#ebebeb;}
.noticeView thead th{padding:0px 20px;height:50px;font-weight:normal;text-align:left;background:none;border-bottom:1px solid #e1e1e1;}
.noticeView td{padding:0px 20px;height:50px;font-weight:normal;text-align:left;background:none;border-bottom:1px solid #e1e1e1;}
.noticeView tr:nth-child(2) td{height:auto;padding:10px 20px}
.noticeView td.tdEditorContent{padding:20px 20px !important;height:180px !important;vertical-align:top}
.noticeView td .fileWrap{position:relative;}
.noticeView td .fileWrap .label{display:inline-block;font-weight:200;font-size:14px;color:#000;padding:initial;line-height:initial;vertical-align:top;padding-top:4px}
.noticeView td .fileWrap .fileList{display:inline-block;}
.noticeView td .fileWrap .fileList li{display:block;margin:initial}
.noticeView td .fileWrap .fileList li{display:block;margin:initial}


/* 선생님 리스트 */
.teClassList{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;border-top:2px solid #000}
.teClassList th{padding: 10px;font-weight:bold;height:50px;background:none;border-right:0px none;font-size:16px;}


/* 수강신청 리스트 */
.classList{border:1px solid #e5e5e5;border-bottom:0;width:96% !important;margin:0px 2%}
.classList thead th{padding:10px;border-bottom:1px solid #e5e5e5}
.classList tbody td{padding:12px;height:60px;font-size:14px;border-bottom:1px solid #e5e5e5;box-sizing:border-box}


/* 마이페이지 주무내역 리스트 */
.mypageOrderList{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;border-top:2px solid #000}
.mypageOrderList tr{}
.mypageOrderList tr td:nth-child(1){width:88%;}
.mypageOrderList tr td:nth-child(2){width:12%;text-align:center;word-break:keep-all;padding:15px 10px;}


/* 장바구니01 */
.cart01{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;border-top:2px solid #000}
.cart01 thead th{text-align:center}


/* 장바구니02 */
.cart02{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;border-top:2px solid #000}
.cart02 thead th{text-align:center}


/* 마이페이지 상담예약내역 */
.mypageAdvice{width:100%;border-spacing:0;table-layout:fixed;border-top:2px solid #000}
.mypageAdvice tr{}
.mypageAdvice tr td{text-align:center}
.mypageAdvice tr td:nth-child(1){}
.mypageAdvice tr td:nth-child(2){}


/* 마이페이지 게시물관리 */
.mypage05{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;border-top:2px solid #000;}
.mypage05 tr{height:50px}
.mypage05 tr th{text-align:center}
.mypage05 tr td{text-align:center}
.mypage05 tr td:nth-child(2){text-align:left}
.mypage05 tr td:nth-child(2) a.lock{background:url(../images/common/icon_lock.png) no-repeat left center;padding-left:25px}
.mypage05 tr.reply{background:#f1f1f1}
.mypage05 tr.reply td:nth-child(2) a{background:none;padding-left:0}
.mypage05 tr.reply td:nth-child(2) a:before{content:'RE:';color:#144b95;}


/* 마이페이지 내게시글 */
.mypage05_2{width:100%;border-spacing:0;table-layout:fixed}
.mypage05_2 tr{height:50px}
.mypage05_2 tr td{text-align:center}


/* 합격수기 리스트 */
.acceptanceList{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;border-top:1px solid #ddd}
.acceptanceList thead th{padding:0 10px;font-weight:bold;height:50px;background:none;border-right:0px none}
.acceptanceList tr{border-bottom:1px solid #ddd}
.acceptanceList tbody td{padding:0 10px;height:50px;border-right:0px none;text-align:center}
.acceptanceList tbody td:nth-child(2){text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}


/* 합격수기 리스트2 */
.acceptanceList2{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;border-top:1px solid #ddd}
.acceptanceList2 thead th{padding:0 10px;font-weight:bold;height:50px;background:none;border-right:0px none}
.acceptanceList2 tr{border-bottom:1px solid #ddd}
.acceptanceList2 tbody td{padding:0 10px;height:50px;border-right:0px none;text-align:center}
.acceptanceList2 tbody td:nth-child(2){text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}


/* 합격수기 뷰페이지 */
.acceptanceView{}
.acceptanceView thead{background:#ebebeb;}
.acceptanceView thead th{padding:0px 20px;height:50px;font-weight:normal;text-align:left;background:none;border-bottom:1px solid #e1e1e1;}
.acceptanceView td{padding:0px 20px;height:50px;font-weight:normal;text-align:left;background:none;border-bottom:1px solid #e1e1e1;}
.acceptanceView tr:nth-child(2) td{height:auto;padding:10px 20px}
.acceptanceView td.tdEditorContent{padding:20px 20px !important;height:180px !important;vertical-align:top}
.acceptanceView td.cm_list{padding:20px 10px}


/* 빅모의고사 - 모의고사 */
.bigList{width:100%;font-size:14px}
.bigList thead{background:#ebebeb;border-top:2px solid #000;}
.bigList thead th{font-weight:bold;text-align:center;background:none;border-bottom:1px solid #e1e1e1;padding: 25px 0}
.bigList tbody tr td{padding:0px 20px;padding:20px 0;font-weight:normal;text-align:center;border-bottom:1px solid #e1e1e1;}
.bigList tbody tr td:nth-child(1){word-break:keep-all;font-weight:bold}
.bigList tbody tr td:nth-child(2){word-break:keep-all;}
.bigList thead th:nth-child(1){width:260px;text-align:center;}
.bigList thead th:nth-child(2){width:270px;word-break:keep-all}
.bigList thead th:nth-child(3){width:170px;}
.bigList thead th:nth-child(4){width:170px;}


/* 빅모의고사 - 학원모의고사 */
.bigList2{width:100%;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5;font-size:14px}
.bigList2 thead{}
.bigList2 thead th{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;padding: 10px 0;text-align:center;}
.bigList2 tbody tr td{padding:0px 20px;padding:20px 0;font-weight:normal;text-align:center;border-bottom:1px solid #e1e1e1;}
.bigList2 tbody tr td:nth-child(1){font-weight:bold}
.bigList2 tbody tr td:nth-child(2){word-break:keep-all;}
.bigList2 thead th:nth-child(1){width:150px;}
.bigList2 thead th:nth-child(2){width:230px;}
.bigList2 thead th:nth-child(3){width:180px;}
.bigList2 thead th:nth-child(4){width:180px;}
.bigList2 thead th:nth-child(5){width:100px;}


/* 빅모의고사 - 학원모의고사 - 오프라인, 주간모의고사 응시하기 */
.bigList2_offline{width:100%;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5;font-size:14px}
.bigList2_offline thead{}
.bigList2_offline thead th{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;padding: 10px 0;text-align:center;}
.bigList2_offline tbody tr td{padding:0px 20px;padding:20px 0;font-weight:normal;text-align:center;border-bottom:1px solid #e1e1e1;}
.bigList2_offline tbody tr td:nth-child(1){font-weight:bold}
.bigList2_offline tbody tr td:nth-child(2){word-break:keep-all;}
.bigList2_offline thead th:nth-child(1){width:180px;}
.bigList2_offline thead th:nth-child(2){width:350px;}
.bigList2_offline thead th:nth-child(3){width:280px;}


/* 빅모의고사 - 기출문제 */
.bigList3{width:100%;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5;font-size:14px}
.bigList3 thead{}
.bigList3 thead th{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;padding: 10px 0;text-align:center;}
.bigList3 tbody tr td{padding:0px 20px;padding:20px 0;font-weight:normal;text-align:center;border-bottom:1px solid #e1e1e1;}
.bigList3 tbody tr td:nth-child(1){font-weight:bold}
.bigList3 tbody tr td:nth-child(2){font-weight:bold}
.bigList3 tbody tr td:nth-child(3){font-weight:bold}
.bigList3 thead th:nth-child(1){width:150px;}
.bigList3 thead th:nth-child(2){width:150px;}
.bigList3 thead th:nth-child(3){width:150px;}
.bigList3 thead th:nth-child(4){width:320px;}
.bigList3 thead th:nth-child(5){width:100px;}


/* 온라인서점 */
.lecturList{width:100%;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5;font-size:14px}
.lecturList thead{}
.lecturList thead th{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;padding: 10px 0;text-align:center;}
.lecturList tbody tr td{padding:14px 20px;font-weight:normal;text-align:center;border-bottom:1px solid #e1e1e1;}
.lecturList tbody tr td:nth-child(1) div{width:120px;}
.lecturList tbody tr td:nth-child(1) img{width:100%;}
.lecturList tbody tr td:nth-child(2){text-align:left;}
.lecturList tbody tr td:nth-child(2) a{padding:10px 0}
.lecturList tbody tr td:nth-child(3){font-weight:bold}
.lecturList tbody tr td:nth-child(4) br{display:none}
.lecturList thead th:nth-child(1){width:160px;}
.lecturList thead th:nth-child(2){width:340px;}
.lecturList thead th:nth-child(3){width:120px;}



/* 댓글 */
.replyList{width: 100%;font-size:16px;padding-top:30px}
.replyList td{padding:0 5px 60px;border:0;}
.replyList td textarea{width:100%;height:90px;vertical-align:top}
.replyList td input[type='submit']{width:100%;min-height:90px;vertical-align:top}


/* 댓글 2 */
.commentsList{width:100%;font-size:16px;background:#f9f9f9;padding:20px 2% 0;box-sizing:border-box;margin-bottom:20px}
.commentsList ul{width:100%;}
.commentsList ul li:first-child{border-top:1px dotted #ccc;}
.commentsList ul li.cm_write{border-top:none;}
.commentsList ul li{width:100%;border-bottom:1px dotted #ccc;min-height:80px;padding:20px 20px;box-sizing:border-box;position:relative}
.commentsList ul li div:first-child(1){width:100%;}
.commentsList ul li div span.cName{font-weight:bold;font-size:14px}
.commentsList ul li div span.cDate{font-size:14px;margin-left:10px;color:#666;}
.commentsList ul li div p.cComment{margin-top:12px;font-size:14px;color:#444;}
.commentsList ul li.cm_write{width:100%;padding:20px 10px 30px}
.commentsList ul li.cm_write div.inner{width:100%;overflow:hidden}
.commentsList ul li.cm_write div.inner textarea{float:left;width:88%;margin-right:2%;min-height:80px;font-size:14px;border: 1px solid #ededed}
.commentsList ul li.cm_write div.inner a{display:block;width:10%;height:80px;border:1px solid #ccc;box-sizing: border-box;background:white;color:#333;float:left;text-align:center;line-height:80px;font-size:13px;font-weight:bold;}
.commentsList ul li div.cmlist{position:absolute;right:20px;top:20px}
.commentsList ul li div.cmlist a{font-size:13px;color:#333;position:relative}
.commentsList ul li div.cmlist a.cDel{padding-left:10px}
.commentsList ul li div.cmlist a.cUpdate:before{content:'|';position:absolute;left:32px;top:0px}

/* 예약자정보 */
.csList{width:100%;border-top:2px solid #c1c1c1;margin-top:8px;}
.csList tbody tr{height:70px}
.csList tbody tr th{text-align:right;font-size:16px;}
.csList tbody tr td{text-align:left;padding:0 20px;}
.csList tbody tr td input{width:100%;height:48px;font-size:14px}
.csList tbody tr td input[type=checkbox]{height:inherit;width:inherit;display:inline-block;font-size:12px;}
.csList tbody tr td select{width:32%;height:48px;margin-left:4px;}
.csList tbody tr td select:nth-child(1){margin-left:0;}

/* 윗글 아랫글 */
.prNeList{width:100%;}
.prNeList td{padding:0px 20px;height:50px;font-weight:normal;text-align:left;background:none;}

/* 윗글 아랫글 2 */
.sentence{width:100%;margin-bottom:20px}
.sentence tr:first-child{border-top:1px solid #e5e5e5;}
.sentence tr{border-bottom:1px solid #e5e5e5;}
.sentence td{height:50px;padding:0 20px;font-weight:normal;text-align:left;font-size:14px;}
.sentence td:nth-child(1){width:106px;text-align:center;}
.sentence td:nth-child(3){width:140px;text-align:center;}


/* 반응형 */
@media screen and (max-width:800px){
    /*****   공통   *****/
    .tBoard{font-size:14px}


    /* 테이블 박스 */
    .tableWrap{padding:0 2%;box-sizing:border-box}
    .tableWrap2{padding:10px 0}


    /*****   수정   *****/
    /* 공지사항 리스트 */
    .noticeList{display:block;width:100% !important;}
    .noticeList thead{display:none}
    .noticeList tbody{display:block;width:100%}
    .noticeList tr{display:block;width:100%;padding:20px 15px;position:relative;box-sizing:border-box}
    .noticeList tr td{border-bottom:none;display:inline-block;height:inherit !important;}
    .noticeList tr td:nth-child(1){display:none}
    .noticeList tr td:nth-child(2){display:block;padding:0px 0px !important}
    .noticeList tr td:nth-child(2) a{display:inline;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:20px;font-size:16px;font-weight:200;}
    .noticeList tr td:nth-child(2) a span{display:block;}
    .noticeList tr td:nth-child(3){text-align:left;color:#666;padding:0 4px 0px 0px}
    .noticeList tr td:nth-child(4){color:#666;padding:0 4px 0}
    .noticeList tr td:nth-child(5){color:#666;padding:0 4px 0}

    /* 공지사항 뷰페이지 */
    .tbView{display:block !important;width:100%;padding:none}
    .noticeView colgroup{display:none}
    .noticeView thead{display:block !important;}
    .noticeView thead tr{display:block}
    .noticeView thead th{display:block;height:initial !important;box-sizing: border-box;border-bottom:none;font-size:14px;width:initial !important;}
    .noticeView thead th:nth-child(1){width:initial !important;overflow:hidden;box-sizing:border-box;font-size:16px;padding: 12px 2% 2px!important;}
    .noticeView thead th:nth-child(2){box-sizing:border-box;text-align:left;padding:2px 2% 12px!important;}
    .noticeView tbody tr{display:block;box-sizing:border-box;width:100%;position:relative}
    .noticeView tbody tr:nth-child(1) td{display:block;width:100%;padding:14px 2%;box-sizing:border-box}
    .noticeView tbody tr:nth-child(2) td{display:block;width:100%;padding:14px 2%;box-sizing:border-box;height:auto}
    .noticeView tbody td.tdEditorContent{display:block;width:100%;padding:4% 2% !important;box-sizing:border-box;height:auto !important;}
    .noticeView tbody td.center{display:inline-block;width:30%;box-sizing:border-box;padding:14px 2%;}
    .noticeView tbody td.left{display:inline-block;width:68%;box-sizing:border-box;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding:14px 1%;}
    .noticeView tbody td.right{display:none}


    /* 수강신청 리스트 */
    .classList{display:block;width:100% !important;margin:0;}
    .classList thead{display:none}
    .classList tbody{display:block;}
    .classList tbody tr{display:block;border-bottom:1px solid #e5e5e5;width:100%;padding:10px 2%;box-sizing:border-box;}
    .classList tbody tr td{border-bottom:0 !important;height:auto;padding: inherit;}
    .classList tbody tr td:nth-child(1){display:none}
    .classList tbody tr td:nth-child(2){display:block;font-size:16px;font-weight:bold;padding:0;padding-bottom:4px}
    .classList tbody tr td:nth-child(3){display:inline-block;padding-left:0}
    .classList tbody tr td:nth-child(3):before{content:'시간: '}
    .classList tbody tr td:nth-child(4){display:inline-block}


    /* 마이페이지 주문내역조회*/
    .mypageOrderCheck{width:100%}
    .mypageOrderCheck thead th{display:none}
    .mypageOrderCheck tbody tr{display:block;border-bottom:1px solid #e5e5e5;width:100%;padding:10px 2%;box-sizing:border-box;overflow:hidden}
    .mypageOrderCheck tbody tr td{border-bottom:0 !important;height:auto;}
    .mypageOrderCheck tbody tr td:nth-child(1){display:block;text-align:left;padding:4px 0 0}
    .mypageOrderCheck tbody tr td:nth-child(2){display:block;text-align:left;padding:6px 0 0;font-weight:bold;font-size:18px;line-height:20px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
    .mypageOrderCheck tbody tr td:nth-child(3){display:inline-block;text-align:left;padding:6px 4px 0;float:left}
    .mypageOrderCheck tbody tr td:nth-child(4){display:inline-block;text-align:left;padding:6px 4px 0;float:left}
    .mypageOrderCheck tbody tr td:nth-child(5){display:inline-block;text-align:left;padding:6px 4px 0;float: left}
    .mypageOrderCheck tbody tr td:nth-child(6){display:block;clear:both;float:left;padding:20px 0 4px}


    /* 주문내역조회 리스트 */
    .mypageOrderList{width:100%}
    .mypageOrderList tbody tr{display:block;border-bottom:1px solid #e5e5e5;width:100%;padding:10px 2%;box-sizing:border-box;}
    .mypageOrderList tbody tr td{border-bottom:0 !important;height:auto;}
    .mypageOrderList tbody tr td:nth-child(1){display:block;text-align:left;padding:4px 0 6px;line-height:20px;font-size:16px;}
    .mypageOrderList tbody tr td:nth-child(2){display:block;text-align:left;padding:0;width:100%;}
    .mypageOrderList tbody tr td:nth-child(2) a{display:inline-block;}
    .mypageOrderList tbody tr td:nth-child(2) > span{display:inline-block;padding:0}


    /* 장바구니 01 */
    .cart01{width:100%;}
    .cart01 colgroup{display:none}
    .cart01 thead th{display:none;}
    .cart01 tbody{border-top:1px solid #e5e5e5}
    .cart01 tbody tr{display:block;width:100%;border-bottom:1px solid #e5e5e5;box-sizing:border-box;padding:10px 2%;overflow:hidden}
    .cart01 tbody tr td{border-bottom:0 !important;height:auto}
    .cart01 tbody tr td:nth-child(1){padding:10px 6px 0 !important;float:left;}
    .cart01 tbody tr td:nth-child(2){display:block;font-size:16px;padding:10px 0 0 !important;}
    .cart01 tbody tr td:nth-child(2) span{font-size:12px}
    .cart01 tbody tr td:nth-child(3){display:inline-block;text-align:left;padding:0 12px 0 0!important;float:left;font-size:12px}
    .cart01 tbody tr td:nth-child(4){display:inline-block;text-align:left;padding:0 0 10px !important;float:left;font-size:12px}
    .cart01 tbody tr td:nth-child(5){display:inline-block;text-align:left;padding:0 0 10px 12px !important;float:left;font-size:12px}


    /* 장바구니 02 */
    .cart02{width:100%}
    .cart02 colgroup{display:none}
    .cart02 thead th{display:none}
    .cart02 tbody{border-top:1px solid #e5e5e5}
    .cart02 tbody tr{display:block;width:100%;border-bottom:1px solid #e5e5e5;box-sizing:border-box;padding:10px 2%;overflow: hidden}
    .cart02 tbody tr td{border-bottom: 0;height:auto;}
    .cart02 tbody tr td:nth-child(1){display:block;padding:0 !important;text-align:left;font-size:12px}
    .cart02 tbody tr td:nth-child(2){display:block;padding:0 !important;text-align:left;font-size:16px}
    .cart02 tbody tr td:nth-child(2) span{font-size:12px}
    .cart02 tbody tr td:nth-child(3){display:inline-block;padding:0 !important;text-align:left;float:left}
    .cart02 tbody tr td:nth-child(3):after{content:'개';}
    .cart02 tbody tr td:nth-child(4){display:inline-block;padding:0 0 0 12px !important;text-align:left;float:left}

    .cart02List{width:100%}
    .cart02List colgroup{display:none}
    .cart02List thead th{display:none}
    .cart02List tbody tr{display:block;width:100%;overflow:hidden;box-sizing:border-box;}
    .cart02List tbody tr:nth-child(1) th:nth-child(1){display:inline-block;width:34%;box-sizing:border-box}
    .cart02List tbody tr:nth-child(1) td:nth-child(2){display:inline-block;width:60%;box-sizing:border-box}
    .cart02List tbody tr:nth-child(1) th:nth-child(3){display:inline-block;width:38%;box-sizing:border-box;background:white}
    .cart02List tbody tr:nth-child(1) td:nth-child(4){display:inline-block;width:56%;box-sizing:border-box;background:white}

    .cart02List tbody tr th:nth-child(1){display:none}
    .cart02List tbody tr td:nth-child(2){display:none}
    .cart02List tbody tr th:nth-child(3){display:inline-block;width:38%;box-sizing:border-box;background:white}
    .cart02List tbody tr td:nth-child(4){display:inline-block;width:56%;box-sizing:border-box;background:white}

    .cart02List tbody tr:nth-child(5) th:nth-child(1){display:inline-block;width:34%;box-sizing:border-box}
    .cart02List tbody tr:nth-child(5) td:nth-child(2){display:inline-block;width:60%;box-sizing:border-box}
    .cart02List tbody tr:nth-child(5) th:nth-child(3){display:inline-block;width:38%;box-sizing:border-box;background:white}
    .cart02List tbody tr:nth-child(5) td:nth-child(4){display:inline-block;width:56%;box-sizing:border-box;background:white}


    /* 마이페이지 게시물관리 상담예약내역 */
    .mypageAdvice{width:100%;}
    .mypageAdvice colgroup{display:none}
    .mypageAdvice thead th{display:none}
    .mypageAdvice tbody{border-top: 1px solid #e5e5e5}
    .mypageAdvice tbody tr{display:block;width:100%;border-bottom:1px solid #e5e5e5;position:relative;padding:10px 2%;box-sizing:border-box}
    .mypageAdvice tbody tr td{display:inline-block;text-align:left;border-bottom:0;box-sizing:border-box}
    .mypageAdvice tbody tr td:nth-child(1){display:inline-block;padding:0 !important;}
    .mypageAdvice tbody tr td:nth-child(2){display:inline-block;padding:0 !important;}
    .mypageAdvice tbody tr td:nth-child(3){display:block;padding:8px 0 !important}
    .mypageAdvice tbody tr td:nth-child(3) br{display:none}
    .mypageAdvice tbody tr td:nth-child(4){display:block;padding:2px 0 6px !important}
    .mypageAdvice tbody tr td:nth-child(4):before{content:'작성자 : '}
    .mypageAdvice tbody tr td:nth-child(5){display:inline-block;padding:0}
    .mypageAdvice tbody tr td:nth-child(6){display:inline-block;padding:0}


    /* 마이페이지 게시물관리 */
    .mypage05{width:100%}
    .mypage05 thead{display:none}
    .mypage05 tbody tr{display:block;width:100%;border-bottom:1px solid #e5e5e5;position:relative;padding:20px 10px;box-sizing: border-box;height:inherit}
    .mypage05 tbody tr td{border-bottom:0}
    .mypage05 tbody tr td:nth-child(1){display:none}
    .mypage05 tbody tr td:nth-child(2){display:block;font-size:14px !important}
    .mypage05 tbody tr td:nth-child(3){display:inline-block}
    .mypage05 tbody tr td:nth-child(4){display:inline-block}
    .mypage05 tbody tr td:nth-child(5){display:inline-block}


    /* 마이페이지 내게시글 */
    .mypage05_2{width:100%;margin-top:10px 0 !important}
    .mypage05_2 thead{display:none}
    .mypage05_2 tbody tr{display:block;width:100%;border-bottom:1px solid #e5e5e5;position:relative;padding:14px 2%;box-sizing: border-box;height:inherit !important;overflow:hidden;}
    .mypage05_2 tbody tr td{border-bottom:0}
    .mypage05_2 tbody tr td:nth-child(1){display:block;padding:0 0 6px !important;font-size:16px !important;font-weight:bold;}
    .mypage05_2 tbody tr td:nth-child(2){display:inline-block;padding:0 !important;float:left;margin-right:8px}
    .mypage05_2 tbody tr td:nth-child(3){display:inline-block;padding:0 !important;float:left;margin-right:8px}
    .mypage05_2 tbody tr td:nth-child(4){display:inline-block;padding:0 !important;float:left}


    /* 마이페이지 성적관리 */
    .mypage06{width:100%;padding:0 !important;margin:0 !important}
    .mypage06 thead{display:none}
    .mypage06 tbody tr{display:block;width:100%;border-bottom:1px solid #e5e5e5;position:relative;padding:14px 2%;box-sizing: border-box;height:inherit !important;overflow:hidden}
    .mypage06 tbody tr td{border-bottom:0;}
    .mypage06 tbody tr td:nth-child(1){display:block;padding:0 0 4px !important;text-align:left;font-size:14px}
    .mypage06 tbody tr td:nth-child(2){display:block;padding:0 0 4px !important;text-align:left;font-size:16px !important;font-weight:bold}
    .mypage06 tbody tr td:nth-child(3){display:block;padding:0 0 4px !important;text-align:left;font-size:14px;color:#444;}
    .mypage06 tbody tr td:nth-child(3) br{display:none;}
    .mypage06 tbody tr td:nth-child(4){display:inline-block;padding:0 !important;float:left;margin-right:6px}
    .mypage06 tbody tr td:nth-child(5){display:inline-block;padding:0 !important;float:left}
    .mypage06 tbody tr td:nth-child(6){display:block;padding:6px 0 0 !important;text-align:left;font-size:14px;clear:both}


    /* 마이페이지 최근사용내역 */
    .mypage06_2{width:100%;margin-top:10px !important}
    .mypage06_2 thead{display:none}
    .mypage06_2 tbody tr{display:block;width:100%;border-bottom:1px solid #e5e5e5;position:relative;padding:14px 2%;box-sizing: border-box;height:inherit !important;overflow:hidden}
    .mypage06_2 tbody tr td{border-bottom:0;}
    .mypage06_2 tbody tr td:nth-child(1){display:block;padding:0 0 4px !important;text-align:left;font-size:14px}
    .mypage06_2 tbody tr td:nth-child(2){display:block;padding:0 0 4px !important;text-align:left;font-size:16px !important;font-weight:bold}
    .mypage06_2 tbody tr td:nth-child(3){display:block;padding:0 0 4px !important;text-align:left;}


    /* 합격수기 리스트 */
    .acceptanceList{display:block;width:100% !important;}
    .acceptanceList thead{display:none}
    .acceptanceList tbody{display:block;width:100%}
    .acceptanceList tr{display:block;width:100%;padding:20px 15px;position:relative;box-sizing:border-box}
    .acceptanceList tr td{border-bottom:none;display:inline-block;height:inherit !important;}
    .acceptanceList tr td:nth-child(1){display:none}
    .acceptanceList tr td:nth-child(2){display:block;padding:0px 0px !important}
    .acceptanceList tr td:nth-child(2) a{display:inline;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:20px;font-size:16px;font-weight:200;}
    .acceptanceList tr td:nth-child(3){text-align:left;color:#666;padding:0 4px 0px 0px}
    .acceptanceList tr td:nth-child(4){color:#666;padding:0 4px 0}
    .acceptanceList tr td:nth-child(5){color:#666;padding:0 4px 0}


    /* 도서후기 리스트 */
    .acceptanceList2{display:block;width:100% !important;}
    .acceptanceList2 thead{display:none}
    .acceptanceList2 tbody{display:block;width:100%}
    .acceptanceList2 tr{display:block;width:100%;padding:20px 15px;position:relative;box-sizing:border-box}
    .acceptanceList2 tr td{border-bottom:none;display:inline-block;height:inherit !important;}
    .acceptanceList2 tr td:nth-child(1){display:none}
    .acceptanceList2 tr td:nth-child(2){display:block;padding:0px 0px !important}
    .acceptanceList2 tr td:nth-child(3){display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:20px;font-size:16px;font-weight:200;}
    .acceptanceList2 tr td:nth-child(3){text-align:left;color:#666;padding:0 4px 0px 0px}
    .acceptanceList2 tr td:nth-child(4){color:#666;padding:0 4px 0}
    .acceptanceList2 tr td:nth-child(5){color:#666;padding:0 4px 0}
    .acceptanceList2 tr td:nth-child(6){color:#666;padding:0 4px 0}


    /* 합격수기 뷰페이지 */
    .tbView{display:block !important;width:100%;padding:none}
    .acceptanceView colgroup{display:none}
    .acceptanceView thead{display:block !important;}
    .acceptanceView thead th{display:inline-block;box-sizing: border-box;border-bottom:none;font-size:14px;}
    .acceptanceView thead th:nth-child(1){display:block;width:initial;box-sizing:border-box;height:initial;padding:12px 2% 2px!important;font-size:16px;font-weight:bold;}
    .acceptanceView thead th:nth-child(2){display:block;width:initial;box-sizing:border-box;text-align:left;height:initial;padding:2px 2% 12px!important;}
    .acceptanceView tbody tr{display:block;box-sizing:border-box;width:100%;position:relative}
    .acceptanceView tbody tr:nth-child(1) td{display:block;width:100%;padding:14px 2%;box-sizing:border-box}
    .acceptanceView tbody tr:nth-child(2) td{display:block;width:100%;padding:14px 2%;box-sizing:border-box;height:auto}
    .acceptanceView tbody td.tdEditorContent{display:block;width:100%;padding:4% 2% !important;box-sizing:border-box;height:auto !important;}
    .acceptanceView tbody td{display:block;height:inherit}
    .acceptanceView tbody td.comment{display:block;height:inherit}
    .acceptanceView tbody td.cm_list{display:block;height:inherit;padding: 0}
    .acceptanceView tbody td.cm_list div{padding-bottom:24px}
    .acceptanceView tbody td.center{display:inline-block;width:30%;box-sizing:border-box;padding:14px 2%;}
    .acceptanceView tbody td.left{display:inline-block;width:68%;box-sizing:border-box;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding:14px 1%;}
    .acceptanceView tbody td.right{display:none}


    /* 빅모의고사 - 모의고사 신청 */
    .bigList{display:block !important;width:100%;padding:none;width:100%;margin-top:12px;}
    .bigList thead{display:none;}
    .bigList tbody{display:block;width:100%;}
    .bigList tbody tr{display:block;box-sizing:border-box;width:100%;position:relative;border-bottom:1px solid #e5e5e5;padding:10px 2%;}
    .bigList tbody tr td{text-align:left;border-bottom:0;padding:4px 0}
    .bigList tbody tr td br{display:none}
    .bigList tbody tr td:nth-child(1){display:block;font-weight:bold;font-size:16px}
    .bigList tbody tr td:nth-child(2){display:block;}
    .bigList tbody tr td:nth-child(3){display:block;padding:0;}
    .bigList tbody tr td:nth-child(3):before{content:'신청기간 : '}
    .bigList tbody tr td:nth-child(4){display:block;padding:0;}
    .bigList tbody tr td:nth-child(4):before{content:'응시기간 : '}
    .bigList tbody tr td:nth-child(5){display:block;}


    /* 빅모의고사 - 학원모의고사 */
    .bigList2{display:block !important;width:100%;padding:none;width:100%;margin-top:12px;border-left:none;border-right:none;border-top:1px solid #e5e5e5;}
    .bigList2 thead{display:none;}
    .bigList2 tbody{display:block;width:100%;}
    .bigList2 tbody tr{display:block;box-sizing:border-box;width:100%;position:relative;border-bottom:1px solid #e5e5e5;padding:10px 2%;}
    .bigList2 tbody tr td{text-align:left;border-bottom:0;padding:4px 0}
    .bigList2 tbody tr td br{display:none}
    .bigList2 tbody tr td:nth-child(1){display:block;font-weight:normal}
    .bigList2 tbody tr td:nth-child(2){display:block;font-weight:bold;font-size:16px}
    .bigList2 tbody tr td:nth-child(3){display:block;padding:0;}
    .bigList2 tbody tr td:nth-child(3):before{content:'신청기간 : '}
    .bigList2 tbody tr td:nth-child(4){display:block;padding:0;}
    .bigList2 tbody tr td:nth-child(4):before{content:'응시기간 : '}
    .bigList2 tbody tr td:nth-child(5){display:block;}


    /* 빅모의고사 - 학원모의고사 - 오프라인 , 주간모의고사 응시하기 */
    .bigList2_offline{display:block !important;width:100%;padding:none;width:100%;margin-top:12px;border-left:none;border-right:none;border-top:1px solid #e5e5e5;}
    .bigList2_offline thead{display:none;}
    .bigList2_offline tbody{display:block;width:100%;}
    .bigList2_offline tbody tr{display:block;box-sizing:border-box;width:100%;position:relative;border-bottom:1px solid #e5e5e5;padding:10px 2%;}
    .bigList2_offline tbody tr td{text-align:left;border-bottom:0;padding:4px 0}
    .bigList2_offline tbody tr td br{display:none}
    .bigList2_offline tbody tr td:nth-child(1){display:block;font-weight:normal}
    .bigList2_offline tbody tr td:nth-child(2){display:block;font-weight:bold;font-size:16px}
    .bigList2_offline tbody tr td:nth-child(3){display:block;padding:0;}
    .bigList2_offline tbody tr td:nth-child(3):before{content:'응시기간 : '}
    .bigList2_offline tbody tr td:nth-child(4){display:block;padding:8px 0;}
    .bigList2_offline tbody tr td:nth-child(5){display:block;padding:0;}


    /* 빅모의고사 - 기출문제 */
    .bigList3{display:block !important;width:100%;padding:none;width:100%;margin-top:12px;border-left:none;border-right:none;border-top:1px solid #e5e5e5;}
    .bigList3 thead{display:none;}
    .bigList3 tbody{display:block;width:100%;}
    .bigList3 tbody tr{display:block;box-sizing:border-box;width:100%;position:relative;border-bottom:1px solid #e5e5e5;padding:10px 2%;}
    .bigList3 tbody tr td{text-align:left;border-bottom:0;padding:4px 0}
    .bigList3 tbody tr td br{display:none}
    .bigList3 tbody tr td:nth-child(1){display:inline-block;font-weight:normal;padding-right:10px}
    .bigList3 tbody tr td:nth-child(2){display:inline-block;font-weight:normal;padding-right:10px}
    .bigList3 tbody tr td:nth-child(3){display:inline-block;font-weight:normal;}
    .bigList3 tbody tr td:nth-child(4){display:block;font-size:16px;font-weight:bold}
    .bigList3 tbody tr td:nth-child(5){display:block;}


    /* 온라인서점 */
    .lecturList{width:100%;border-top:1px solid #e5e5e5;font-size:14px;}
    .lecturList thead{display:none}
    .lecturList tbody tr{display:block;position:relative;padding: 20px 0;border-bottom:1px solid #e5e5e5;}
    .lecturList tbody tr td{border-bottom:none;padding:initial;box-sizing:border-box}
    .lecturList tbody tr td:nth-child(1){display:inline-block;padding:3px 10px;}
    .lecturList tbody tr td:nth-child(1) div{width:120px;}
    /*.lecturList tbody tr td:nth-child(2){display:inline-block;padding:3px 10px 0;vertical-align:top;width:69%}*/
    .lecturList tbody tr td:nth-child(2){width:60%;position:absolute;left:154px;top:24px;}
    .lecturList tbody tr td:nth-child(2) a{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
    .lecturList tbody tr td:nth-child(3){position:absolute;bottom:80px;left:154px;}
    .lecturList tbody tr td:nth-child(4){position:absolute;bottom:40px;left:154px;}

    /* 예약자정보 */
    .csList{width:100%;border-top:2px solid #c1c1c1;margin-top:8px;}
    .csList tbody tr{display:block;height:initial;padding:10px 0}
    .csList tbody tr th{display:block;width:100%;text-align:left;padding-bottom:4px}
    .csList tbody tr td{display:block;width:100%;text-align:left;padding:0;}
    .csList tbody tr td input{width:98%;height:48px;font-size:14px}
    .csList tbody tr td label{display:inline-block;}
    .csList tbody tr td input[type=checkbox]{height:inherit;width:auto;;display:inline-block;font-size:12px;}
    .csList tbody tr td select{width:31%;height:48px;margin-left:1%;}
    .csList tbody tr td select:nth-child(1){margin-left:0;}


    /* 댓글 2 */
    .commentsList{width:100%;font-size:16px;background:#fff;padding:20px 0;box-sizing:border-box;margin-bottom:20px}
    .commentsList ul li{width:100%;border-bottom:1px dotted #ccc;min-height:80px;padding:20px 0px;box-sizing:border-box;position:relative}
    .commentsList ul li div span.cDate{display:block;margin-left:0;font-size:13px}
    .commentsList ul li.cm_write{width:100%;padding:20px 0px 30px}
    .commentsList ul li.cm_write div.inner{width:100%;overflow:hidden}
    .commentsList ul li.cm_write div.inner textarea{float:left;width:100%;min-height:80px;font-size:14px;border: 1px solid #ededed}
    .commentsList ul li.cm_write div.inner a{display:block;width:100%;height:40px;border:1px solid #ccc;box-sizing: border-box;background:#000;color:#fff;float:left;text-align:center;line-height:40px;font-size:13px;font-weight:bold;}
    .commentsList ul li div.cmlist{position:absolute;right:0px;top:18px}


    /* 댓글 1 */
    .replyList{width: 100%;font-size:16px;padding-top:30px;margin-bottom:30px}
    .replyList colgroup{display:none;}
    .replyList td:nth-child(1){display: block;padding:0 0 10px 10px;text-align:left;}
    .replyList td:nth-child(2){display: block;padding:0 0 6px 0;}
    .replyList td:nth-child(3){display: block;padding:0;}
    .replyList td textarea{width:100%;min-height:120px;vertical-align:top}
    .replyList td input[type='submit']{width:100%;min-height:44px;vertical-align:top}


    /* 윗글 아랫글 */
    .prNeList{width:100%;font-size:14px;}
    .prNeList td:nth-child(1){width:32%;font-size:14px}
    .prNeList td:nth-child(2){box-sizing:border-box;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding:14px 1%;}
    .prNeList td a{font-size:14px;}


    /* 윗글 아랫글 2 */
    .sentence{width:100%;margin-bottom:20px}
    .sentence tr:first-child{border-top:1px solid #e5e5e5;}
    .sentence tr{border-bottom:1px solid #e5e5e5;}
    .sentence td{height:50px;padding:0 20px;font-weight:normal;text-align:left;font-size:14px;}
    .sentence td:nth-child(1){display:inline-block;width:28%;text-align:center;padding:14px 2%;height:initial;}
    .sentence td:nth-child(2){display:inline-block;padding:0;width:68%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding:14px 1%;box-sizing:border-box;height:initial;}
    .sentence td:nth-child(3){display:none;}

    /* 내강의실 일시정지신청 팝업 & 내강의실 팝업 */
    #modal6 .pop_cont{padding:14px 1%;}
    #modal4 .btn_crud .btn_confirm{padding:4px 20px}
    #modal4 .btn_crud .btn_cancel{padding:4px 20px;}
    .pop_list{width:100%;display:block;border:none !important;border-top:1px solid #e5e5e5;}
    .pop_list thead{display:none;}
    .pop_list tbody{display:block;}
    .pop_list tbody tr{display:block;border-bottom: 1px solid #e5e5e5;padding:20px 0px}
    .pop_list tbody tr:nth-child(1){border-top:1px solid #e5e5e5;}
    .pop_list tbody tr th{border:none !important;padding:0 !important;font-size:16px}
    .pop_list tbody tr td{border:none !important;padding:0 !important}
    .pop_list tbody tr th{display:block;}
    .pop_list tbody tr td{display:block;margin-top:10px}
}

@media screen and (max-width:380px){
    .lecturList tbody tr td:nth-child(2){width:50%;position:absolute;left:154px;top:24px;}
    .lecturList tbody tr td:nth-child(2) span.learnNum{font-size:12px}
    .lecturList tbody tr td:nth-child(4) br{display:block}
    .lecturList tbody tr td:nth-child(4){position:absolute;bottom:30px;left:154px;}
    .lecturList tbody tr td:nth-child(4) ul{text-align:left;}
}