/* ****************** */
/* ****************** */
/* common.CSS seungho */
/* ****************** */
/* ****************** */

/* 회사소개 */
.companyInfo{}
.companyInfo .greetingInner{20px 0}
.companyInfo .greetingInner .greeting_img{width:100%;height:316px;background: url(../images/content/greeting.jpg) no-repeat;}
.companyInfo .greetingInner .greeting_img h3{text-align: center;font-size:22px;color:#707070;font-weight:bold;}
.companyInfo .greetingInner .greeting_txt p{font-weight:100;padding:53px 20px;color:#333;font-size:14px;line-height: 18px}
.companyInfo .history{padding:20px 0}
.companyInfo .history h2{text-align: center;margin-bottom: 12px}
.companyInfo .history img{width:100%}
.companyInfo .location{width: 1000px;margin-top:50px}
.companyInfo .location h2{text-align: center;margin-bottom: 20px}
.companyInfo .location .company1{width: 50%;float:left}
.companyInfo .location .company2{width: 50%;float:left}
.companyInfo .location .mApi{width: 494px;height: 250px;background:#e1e1e1;text-indent: -9999px;}
.companyInfo .location h3{color: #171c60;font-size: 20px;position: relative;padding:30px 0}
.companyInfo .location h3:before{content: '';background:#171c60;width: 18px;height: 3px;position: absolute;left: 0;top:60px;}
.companyInfo .location table{width:100%}
.companyInfo .location table tr{height:38px}
.companyInfo .location table th{text-align: left;vertical-align: top;font-weight: 800;font-size: 14px;color: #000000;}
.companyInfo .location table td{text-align: left;vertical-align: top;font-weight: 100;font-size: 12px;color: #333333;}

/* modal */
#myModal .modal{display: none;position: fixed;z-index:91;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
#myModal .modal-content{background-color: #fefefe;margin:0 auto;border: 1px solid #888;width: 50%;}
#myModal .modal-content .mTit{background: #333;padding:10px 20px}
#myModal .modal-content .mTit h2{color: white}
#myModal .modal-content .mCont{padding: 20px}

#uploadModal{display: none;position: fixed;z-index:91;left:0;top:0;width:100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
#uploadModal .modal-content{background-color: #fefefe;margin:300px auto !important;border: 1px solid #888;width:518px;}
#uploadModal .modal-content .mTit{background: #333;padding:10px 20px}
#uploadModal .modal-content .mTit h2{display:inline-block;color:white;}
#uploadModal .modal-content .mTit a{display: inline-block;color:white;float:right}
#uploadModal .modal-content .mCont{padding:20px}
#uploadModal .modal-content .ta_center{height: 50px}
#uploadModal .box{position:relative;margin:30px auto;width:500px;}
#uploadModal .filetype{display:inline-block;vertical-align:top;margin-right: 4px;}
#uploadModal .filetype *{vertical-align: middle;}
#uploadModal .filetype .file-text{position:absolute;width:320px;text-overflow:ellipsis;white-space: nowrap;overflow:hidden;display:inline-block;height: 40px;margin:0;border:1px solid #cdd3d4;line-height: 20px;z-index:10;right:50px;top:0;font-size:14px}
#uploadModal .filetype .file-select{position: absolute;top:0;left:26px;width:82px;overflow:hidden;margin-left:4px}
#uploadModal .filetype .file-select .input-file{width:82px;filter:alpha(opacity=0);opacity: 0;height:40px}
#uploadModal .filetype .file-text + .file-btn {position:absolute;display:inline-block;height:40px;line-height:40px;padding:0 15px;color: #000 !important;cursor:pointer;margin-left:4px;left:26px;top:0;font-weight:bold;border:1px solid #cdd3d4;box-sizing:border-box;font-weight: bold}
#uploadModal .btnArea{margin-top:30px;}
#uploadModal .btnArea .btn_m.radius{border-radius:20px}
#uploadModal .btnArea .btn_m{height:40px;line-height:38px}
#uploadModal .btnArea .btn_m.cgray{color:#444;border:1px solid #ccc}
#uploadModal .btnArea .btn_m.cblue{color:#134c97;border:1px solid #134c97;}

#uploadModal2{display: none;position: fixed;z-index:91;left: 0;top: 0;width:100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);overflow-y:hidden}
#uploadModal2 .modal-content{background-color: #fefefe;margin:19% auto;border: 1px solid #888;width:518px;}
#uploadModal2 .modal-content .mTit{background: #333;padding:10px 20px}
#uploadModal2 .modal-content .mTit h2{display:inline-block;color:white;}
#uploadModal2 .modal-content .mTit a{display: inline-block;color:white;float:right}
#uploadModal2 .modal-content .mCont{padding:20px}
#uploadModal2 table{width:100%}
#uploadModal2 table tr{height:50px}
#uploadModal2 .filebox{position:relative;}
#uploadModal2 .filebox *{vertical-align: middle;}
#uploadModal2 .filebox .file-text {position:absolute;width:340px;right:0;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;display: inline-block;height: 20px;margin: 0;border: 1px solid #cdd3d4;line-height: 20px;z-index: 10;padding:20px 10px;top: 0;}
#uploadModal2 .filebox .file-select {position: absolute;top: 0;left: 0;width:84px;overflow: hidden;z-index:20;}
#uploadModal2 .filebox .file-select .input-file {width:100%;filter: alpha(opacity=0);opacity: 0;height: 42px;}
#uploadModal2 .filebox .file-text + .file-btn{position:absolute;left:0;display: inline-block;height:42px;line-height:42px;padding:0 15px;color:#000 !important;cursor:pointer;top:0;border:1px solid #cdd3d4;box-sizing:border-box;font-weight:bold}
#uploadModal2 .btnArea{margin-top:30px;}
#uploadModal2 .btnArea .btn_m.radius{border-radius:20px}
#uploadModal2 .btnArea .btn_m{height:40px;line-height:38px}
#uploadModal2 .btnArea .btn_m.gray{color:#444;border:1px solid #ccc}
#uploadModal2 .btnArea .btn_m.blue{color:#134c97;border:1px solid #134c97;}


.locationModal{display:none;position: fixed;z-index:91;left: 0;top: 0;width:100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
.locationModal .modal-content{background-color: #fefefe;margin:120px auto !important;border: 1px solid #888;width:750px;}
.locationModal .modal-content .mTit{background: #333;padding:10px 20px}
.locationModal .modal-content .mTit h2{display:inline-block;color:white;}
.locationModal .modal-content .mTit a{display: inline-block;color:white;float:right}
.locationModal .location{width:100%;}
.locationModal .location .locationP{padding:0px 40px 20px;box-sizing:border-box}
.locationModal .location h2{text-align: center;margin-bottom: 20px}
.locationModal .location .company1{width: 50%;float:left}
.locationModal .location .company2{width: 50%;float:left}
.locationModal .location .mApi{width:100%;height:406px;background:#e1e1e1;text-indent: -9999px;}
.locationModal .location h3{color: #171c60;font-size: 20px;position: relative;padding:30px 0}
.locationModal .location h3:before{content: '';background:#171c60;width: 18px;height: 3px;position: absolute;left: 0;top:60px;}
.locationModal .location table{width:100%}
.locationModal .location table tr{height:28px}
.locationModal .location table th{text-align: left;vertical-align: top;font-weight: 800;font-size: 14px;color: #000000;}
.locationModal .location table td{text-align: left;vertical-align: top;font-weight: 100;font-size: 12px;color: #333333;}

/* 회사소개 학원둘러보기 */
.gallery{}
.gallery h2{display:inline-block;padding-top:8px}
.gallery > a{display:inline-block;float:right;}
.gallery > a img{width:100%}
.gallery ul{overflow: hidden;margin-top:20px}
.gallery ul li{width: 326px;height: 206px;background: #eee;float: left;margin-left:10px;margin-top:5px}
.gallery ul li:nth-child(1){margin-left: 0;margin-top: 0;}
.gallery ul li:nth-child(2){margin-top: 0;}
.gallery ul li:nth-child(3){margin-top: 0;}
.gallery ul li:nth-child(4){margin-left: 0;}
.gallery ul li:nth-child(6){background:rgba(0,0,0,.8);}
.gallery ul li p{color:white;text-align: center;font-weight:bold;font-size:20px;margin-top:70px}
.gallery ul li img{width:100%;height: 206px;}
.gallery ul li a{display: block; height: 100%}

.station2{margin-top: 70px}

/* 갤러리 슬라이드 레이어 */
.gList{display:none;position: relative;}
.gList .dim{width:100%;height:100%;background:rgba(0,0,0,.8);position:fixed;left: 0;top: 0;z-index:101;}
.gList .ly_gallery{position: fixed;top: 50%;left: 50%;z-index: 102;width: 925px;height: 583px;margin: -292px 0 0 -462px}
.gList .ly_gallery h2{position: fixed;z-index: 103;color: white;top:50%;margin-top:-340px;left: 50%;margin-left:-50px}
.gList #wrapper{width:929px;height:583px;position:relative;color:#fff;text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;}

#slider-wrap{width:929px;height:583px;position:relative;overflow:hidden;}
#slider-wrap ul#slider{width:100%;height:100%;position:absolute;}
#slider-wrap ul#slider li{float:left;position:relative;width:929px;height:583px;}
#slider-wrap ul#slider li div{width:929px;height:583px;background:url(../images/common/bg_shadow2.png) no-repeat;}
#slider-wrap ul#slider li div img{display:block;width:100%;height:535px}
#slider-wrap .cls{display: block;position:fixed;top:50%;right:50%;margin-right:-520px;margin-top:-290px;width: 29px;height: 29px;background: url(../images/common/btn_cls.png) no-repeat;z-index:104;text-indent: -9999px}

/*btns*/
.btns{position:fixed;width:50px;margin-top:-25px;height:60px;top:50%;text-align:center;cursor:pointer;background:rgba(0,0,0,0.1);z-index:103;-webkit-user-select: none;-moz-user-select: none; -khtml-user-select: none;-ms-user-select: none;-webkit-transition: all 0.1s ease;-moz-transition: all 0.1s ease;-o-transition: all 0.1s ease;-ms-transition: all 0.1s ease;transition: all 0.1s ease;color:white}
#next:hover, #previous:hover{opacity: 1;}

#next{right:50%;margin-right:-540px;background: url(../images/common/bts_arrow.png) no-repeat -65px -10px;opacity:.4}
#previous{left:50%;margin-left:-540px;background: url(../images/common/bts_arrow.png) no-repeat -18px -10px;opacity:.4}

#counter{bottom:50%;left:50%;margin-bottom:-300px;width:auto;position:fixed;color: white;z-index: 104;font-size: 20px;}

/* customer */
.customer_inner{margin-bottom:40px}
.customer_inner h2{text-align:center;color:#000;font-size:18px;margin-bottom: 20px}
.customer_inner > p{text-align:center;font-weight:bold;font-size:18px;}
.customer_inner > p.tit{font-size:14px;font-weight:200;}
.customer_inner > p span{color:#134c97}
.customer_inner > select{display:block;width:426px;margin:auto;background:white;border:1px solid #ededed;height:42px;margin-top:40px;box-sizing:border-box;font-size:14px}
.customer_inner > select.a_request{margin-top:10px}
.customer_inner > select option{}
.customer_inner > a.advice_btn{display:block;border:1px solid #b0b0b0;width:160px;margin: auto;height:30px;text-align:center;line-height:30px;border-radius:3px;margin-top:20px;background:#f4f4f4 url(../images/common/next_arrow.png) no-repeat 140px}
.customer_inner > a.coment_btn{display:block;border:1px solid #b0b0b0;width:160px;margin: auto;height:30px;text-align:center;line-height:30px;border-radius:3px;margin-top:20px;}

.advice_select .advice_input{overflow:hidden;margin:0 auto 20px;width:426px;}
.advice_select .advice_input > select{height:42px;background: white;border:1px solid #c7c7c7;color:#222;font-size:14px;}
.advice_select .advice_input > select.a_reservation{display: block;width:426px;margin:60px 0 10px;}
.advice_select .advice_input > select.a_location{display:block;float:left;width:200px;}
.advice_select .advice_input .l_btn{float:left;margin-left:32px}
.advice_select .advice_input .l_btn a{display:inline-block;padding:12px 22px;background: white;border: 1px solid #c7c7c7;font-size:14px;color:#222;}
.advice_select .advice_input .l_btn a:nth-child(2){margin-left:2px}


.advice_table{width: 100%;height: auto;border:3px solid #a5a5a5;padding:36px;box-sizing:border-box}
.advice_table .calendar_wrap{}
.advice_table .calendar_wrap .calender_inner{overflow: hidden}
.advice_table .calendar_wrap .calender_inner .calender_api{width:454px;height:454px;background:#eee;float:left;width:48%;}
.advice_table .calendar_wrap .calender_inner .calender_tb{float:left;padding:10px;width:50%;margin-left:2%;box-sizing:border-box;}
.advice_table .calendar_wrap .calender_inner .calender_input div{border-bottom:1px solid #000;padding:8px 14px;}
.advice_table .calendar_wrap .calender_inner .calender_input .c_timeer{margin-top:12px}
.advice_table .calendar_wrap .calender_inner .calender_input div label{font-weight:bold;font-size:18px;margin-right:10px;}
.advice_table .calendar_wrap .calender_inner .calender_input div input{border:none;font-weight:bold;font-size:18px;}
.advice_table .calendar_wrap .calender_inner .calender_input div input::placeholder{font-weight:100;color:#666;font-size:14px}
.advice_table .calendar_wrap .calender_inner .calender_input div input:focus{outline:none}
.advice_table .calendar_wrap .calender_inner .calender_btn_wrap{padding:10px;margin-top:20px}
.advice_table .calendar_wrap .calender_inner .calender_btn_wrap div{}
.advice_table .calendar_wrap .calender_inner .calender_btn_wrap div h6{display:inline-block;vertical-align:top;box-sizing:border-box;padding:1px;font-size:16px;color:#333;width:15%;}
.advice_table .calendar_wrap .calender_inner .calender_btn_wrap div ul{display:inline-block;overflow:hidden;padding:1px 0 0 1px;box-sizing: border-box;width:84%;}
.advice_table .calendar_wrap .calender_inner .calender_btn_wrap div ul li{float:left;}
.advice_table .calendar_wrap .calender_inner .calender_btn_wrap div ul li a{display:block;padding:8px 14px;border:1px solid #a5a5a5;color:#5f5f5f;font-size:14px;box-sizing:border-box;margin-right:8px;margin-bottom:6px}
.advice_table .calendar_wrap .calender_inner .calender_btn_wrap div ul li a.active{display:block;border:1px solid #134c97;font-weight:bold;color:#134c97;box-sizing:border-box;}
.advice_table .calendar_wrap .calender_inner .calender_btn_wrap div.c_morning{box-sizing:border-box;margin-bottom:16px}
.advice_table .calendar_wrap .advice_tit p{color:#5a5a5a;font-size:14px;margin-top:6px;}

.table_wrap{width:100%;height:auto;border:1px solid #1111;padding:47px 65px;box-sizing:border-box;margin-top: 50px;background:#f7f7f7}
.table_wrap > p{color:#134c97;text-align: center;margin-bottom:6px}
.table_wrap > p.t_tit{font-size:20px;color:#000;font-weight:bold}
.table_wrap > p.t_tit span{color:#134c97}
.table_wrap > .btnArea .radius{border-radius:20px;}
.table_wrap > .btnArea .gray{color:#444;border:1px solid #aeaeae;}
.table_wrap > .btnArea .blue{color:#134c97;border:1px solid #134c97}

.form_atb{background:#fff;padding:30px 40px;margin-top:18px}
.form_atb > h3{display:inline-block;font-size:22px;font-weight:800}
.form_atb > p{display:inline-block;float: right;color:#878787;font-weight:100;font-size:14px}
.form_atb table{border-top:2px solid #c1c1c1;width:100%;margin-top:8px}
.form_atb table tr{height:70px}
.form_atb table th{text-align:right;font-size:16px}
.form_atb table th.vt_pt{vertical-align:top;padding-top: 12px}
.form_atb table td{text-align:left;padding:0 20px}
.form_atb table td select:nth-child(1){margin-left:0;}
.form_atb table td select{width:32%;height:48px;margin-left:4px}
.form_atb table td input{width:100%;height:48px;font-size:14px}
.form_atb table td input[type=checkbox]{height:inherit; width:inherit;display:inline-block;font-size:12px}
.form_atb table td button{padding:4px 10px;margin-top:6px}

.inquiry_lnfo{width:400px;margin:auto;overflow:hidden;margin-bottom:40px}
.inquiry_lnfo img{float:left;margin-left:20px}
.inquiry_lnfo ul{float:left;margin-left:30px}
.inquiry_lnfo ul li{line-height:27px;color:#767676}

.inquiry_tab{width:600px;margin:auto;margin-bottom:50px}
.inquiry_tab ul{overflow:hidden}
.inquiry_tab ul li{float:left;width:140px;height:34px;border:1px solid #b0b0b0;text-align:center;margin-left:10px;margin-bottom:6px;line-height:34px;color:#444444;}
.inquiry_tab ul li.ml-n{margin-left:inherit}
.inquiry_tab ul li.mb-n{margin-bottom:inherit}
.inquiry_tab ul li.active{border:1px solid #134c97;}
.inquiry_tab ul li.active a{color:#134c97;font-weight:bold}
.inquiry_tab ul li a{display:block;height:100%;}

.tableBox span.inquiry_p{color:#134c97;font-weight:bold}

/* 아이디 비번찾기 */
.serchForm{margin-bottom:30px}
.serchForm .serch{width:100%;height:64px}
.serchForm .serch ul li{float:left;width:50%;text-align:center;height:64px;line-height:64px;background:#f9f9f9;border:1px solid #e5e5e5;box-sizing:border-box;margin-right:-1px;}
.serchForm .serch ul li a{display:block;height:100%;font-size:20px}
.serchForm .serch ul li.active{background:white;border-top:2px solid #144b95;border-bottom:none}
.serchForm .serch ul li.active a{color:#144b95;font-weight:bold;}
.serchForm .serchBox{position:relative;height:320px;width:99.9%;}
.serchForm .serchBox .serchBoard{width:100%;height:320px;position:absolute;left: 0;top: 0;border:1px solid #e5e5e5;border-top:none;box-sizing:border-box;}
.serchBoard{display:none}
.serchBoard.active{display:block}
.serchForm .serchBox .serchBoard p{width:100%;text-align:center;margin:auto;font-size:16px;color:#333;margin-top:64px;line-height:22px}
.serchForm .serchBox .serchBoard input{display:block;width:328px;padding-left:10px;height:50px;margin:auto;font-size:16px;color:#333;margin:auto;margin-top:12px}
.serchForm .serchBox .serchBoard a{display:block;color:#333333;font-size:16px;width:148px;height:46px;margin:auto;text-align:center;line-height:46px;border:1px solid #cccccc;margin-top:34px}

/* 지안패스 */
li.pl_30{padding-left:30px !important}
.passTotal{padding:25px 30px}
.lectureList li.pl_30 a{margin-bottom:8px}
.lectureList p{font-size:14px;line-height:1.32rem;width:25%}
.lectureList p span{float:right}
.selectAreaFixed{position:fixed;top:0px;left:50%;background:white;width:998px;margin-left:-499px;margin-top:inherit;z-index:10;}
.lectureWrapFixed{margin-top:244px}
.dtFixed{display:none}

/* 강의실 배정표 */
.calendarInfo{display:none;width:740px;margin:auto;margin-top:50px}
.calendarInfo div.cCom > p{display:inline-block;font-size:20px;}
.calendarInfo div.cCom > p span{font-size:18px;}
.calendarInfo div.cCom > p span b{color:#ec6941;}
.calendarInfo a{display:inline-block;float:right}
.calendarInfo a img{margin-top:-6px}
.calendarInfo img{width:100%;}
.calendarInfo div.cCom div{width:100%;margin-bottom:56px;margin-top:16px}
.calendarInfo div.cCom div.cNull{border:1px solid #ededed;}
.calendarInfo div.cCom div.cNull p{text-align:center;line-height:300px}


/* 2020.01.15 */
.pwChange{border:4px solid #f1f1f1;margin-bottom:30px}
.pwChangeWrap p{text-align: center;font-weight:800;font-size:24px;padding:40px 0 30px;letter-spacing:-.8px;color:#444}

.pwCg{width:420px;margin: auto;padding:8px 0}
/*.pwCg label{color:black;padding-right:8px;font-size:14px}*/
.pwCg input{width:100%;height:54px;font-size:16px;letter-spacing:-.8px}
.pwCg span{display:block;font-size: 12px;color:red;margin-left:4px;padding-top:4px}

.pwCg_btn{padding:20px 0 40px;width:420px;margin: auto;}
.pwCg_btn a{display:inline-block;width:100px;height:36px;color:white;text-align:center;line-height:36px}
.pwCg_btn a:nth-child(1){background-color:#134c97;margin-left:110px}
.pwCg_btn a:nth-child(2){background-color:#aaa}